* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jumbotron {
	background-color: transparent;
	background: url(../images/landing/bg-landing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 0;
}

.lnd-title {
	color: #E9E9E9;
	letter-spacing: 3px;
	font-family: 'Noto Serif KR', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 4em;
}

#jumbotron-landing {
	background-color: #141414;
	margin: 0 auto;
}

#landing-button {
	font-weight: 700;
	font-family: 'Noto Serif KR', sans-serif;
}

#landing-button:hover {
	color: #141414;
	font-weight: 700;
	font-family: 'Noto Serif KR', sans-serif;
}

.lnd-quote {
	font-family: 'Noto Serif KR', sans-serif;
	font-size: 1em;
	color: #DCDCDC;
}

#design-btn {
	color: #e6e6e6;
	font-family: 'Noto Serif KR', sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.link > a {
	text-decoration: none;
}

/*----------------------END OF LANDING PAGE------------------------------*/
.c-text {
	font-family: 'Noto Serif KR', sans-serif;
	font-weight: 700;
	color: #333333;
}

.font-ulmenu {
	font-family: 'Noto Serif KR', sans-serif;
	font-weight: 700;
}

.bgc-nav {
	background: #4bead1;
}

/*-----------END OF NAV BAR------------*/

.jumbotron-home {
	background-color: transparent;
	background: url(../images/landing/bg-landing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 0;
}

#str-music {
	color: #4bead1;
}

.home-quote {
	font-family: 'Verdana', sans-serif;
	font-size: 1.5em;
	letter-spacing: 2px;
	color: #DCDCDC;
}

.home-title {
	color: #1a1a1a;
	letter-spacing: 3px;
	font-family: 'Noto Serif KR', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 4em;
}

.bgc-title {
	background: #f2f2f2;
}

.home-quote2 {
	font-family: 'Verdana', sans-serif;
	font-size: 1.5em;
	letter-spacing: 2px;
	color: #1a1a1a;
}

.link-card {
	color: #1a1a1a;
}

.link-card:hover {
	text-decoration: none;
	color: #4bead1;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.l-artists {
	color: #333333;
	font-weight: 700; 
}

.l-artists:hover {
	color: #4bead1;
	text-decoration: none;
}
/*----------------END OF MINI LANDINGPAGE/HOME--------------*/

.artist-name {
	font-weight: 700;
}

.card-body {
	height: 8rem;
}

.img-contain {
	height: 15rem;
    object-fit: contain;
    object-position: center;
}

/*-------------END OF ABOUT-------------*/

.bgi-guitar {
	background: url(../images/home/guitar.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bgi-piano {
	background: url(../images/home/piano.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bgi-violin {
	background: url(../images/home/violin.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.artist-hov:hover {
	opacity: 0.4;
}

#inputholder:hover::after {
	content: attr(title);
	position:absolute;
	left: 40%;
	top: 50%;
}

.gallery-img {
	height: 15rem;
	width: 100%;
	border-radius: 50%;
}

.gallery-title {
	color: #f2f2f2;
	letter-spacing: 3px;
	font-family: 'Noto Serif KR', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 4em;
}

.offset-middd {
	margin-left: 4.1666665%;
	margin-right: 4.1666665%;
}

.offset-ryt {
	margin-right: 8.333333%;
}

.hide-vid {
	display: none;
}

input:focus{
    outline: none;
}

.daniel-imgmove {
	object-position: left;
}
/*---------------END OF GALLERY-------------*/

.a-circle {
	height: 6rem;
	width: 100%;
	border-radius: 100%;
}

.img-meee {
	height: 15rem;
	border-radius: 100%;
}

.img-artists {
	height: 10rem;
	width: 100%;
	border-radius: 100%;
}

.offset-rytme {
	margin-right: 25%;
}

.fab, .fas {
	font-size: 5rem;
	color: #1a1a1a;
}

.fa-facebook-square:hover {
	color: #3b5998;
}

.fa-envelope:hover {
	color: #c71610;
}

.fa-linkedin:hover{
	color: #0077B5;
}

.fa-github:hover {
	color: #6cc644;
}

.fa-youtube:hover {
	color: #ff0000;
}

.c-contact {
	background: #1a1a1a;
}

.c-contacttitle {
	color: #000000;
}

.c-artisttitle {
	color: #000000;
}

.c-artisttitle:hover {
	text-decoration: none;
	color: #4bead1;
}

.active {
	text-decoration: underline; 
}
/*--------------END OF CONTACT-----------*/

.bg-foot {
	background: #4bead1;
	font-weight: 700;
	color: #1a1a1a;
	font-family: 'Noto Serif KR', sans-serif;
	letter-spacing: 3px;
}
/*--------------END OF FOOTER--------------*/

/*----------------ETC------------------*/


/*-----------------------------------RESPONSIVENESSSS-----------------------*/
/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.c-text {
	display: none;
	}
	
	.tab-me {
		margin-left: 10%;
		margin-right: 10%;
	}

	.tab-cont {
		width: 25%;
		margin-right: 0;
		margin-left: 0;
		margin-top: 2rem;
		text-align: center;
	}

	.tab-art {
		width: 33%;
		margin-right: 0;
		margin-left: 0;
		margin-top: 2rem;
		text-align: center;
	}
}

/*Mobile*/
@media only screen and (max-width: 401px) {
	.c-text {
	display: none;
	}

	.mob-me {
		margin-left: 2%;
		margin-right: 2%;
	}

	.mob-cont {
		width: 50%;
		margin-right: 0;
		margin-left: 0;
		margin-top: 2rem;
		text-align: center;
	}

	.mob-art {
		width: 50%;
		margin-right: 0;
		margin-left: 0;
		margin-top: 2rem;
		text-align: center;
	}

}